

/*--- CHAMPION LIST ---*/

.Ahri {   background-position: 0 0; } 
.Akali {   background-position: 0 0; } 
.Alistar {   background-position: 0 0; } 
.Amumu {   background-position: 0 0; } 
.Anivia {   background-position: 0 0; } 
.Annie {   background-position: 0 0; } 
.Ashe {   background-position: 0 0; } 
.Blitzcrank {   background-position: 0 0; } 
.Brand {   background-position: 0 0; } 
.Caitlyn {   background-position: 0 0; } 
.Cassiopeia {   background-position: 0 0; } 
.Chogath {   background-position: 0 0; } 
.Corki {   background-position: 0 0; } 
.Cryophoenix {   background-position: 0 0; } 
.Dr.Mundo {   background-position: 0 0; } 
.Evelynn {   background-position: 0 0; } 
.Ezreal {   background-position: 0 0; } 
.Fiddlesticks {   background-position: 0 0; } 
.Fiora {   background-position: 0 0; } 
.Fizz {   background-position: 0 0; } 
.Galio {   background-position: 0 0; } 
.Gangplank {   background-position: 0 0; } 
.Garen {   background-position: 0 0; } 
.Gragas {   background-position: 0 0; } 
.Graves {   background-position: 0 0; } 
.Heimerdinger {   background-position: 0 0; } 
.Irelia {   background-position: 0 0; } 
.Janna {   background-position: 0 0; } 
.JarvanIV {   background-position: 0 0; } 
.Jax {   background-position: 0 0; } 
.Karma {   background-position: 0 0; } 
.Karthus {   background-position: 0 0; } 
.Kassadin {   background-position: 0 0; } 
.Katarina {   background-position: 0 0; } 
.Kayle {   background-position: 0 0; } 
.Kennen {   background-position: 0 0; } 
.KogMaw {   background-position: 0 0; } 
.Leblanc {   background-position: 0 0; } 
.LeeSin {   background-position: 0 0; } 
.Leona {   background-position: 0 0; } 
.Lulu {   background-position: 0 0; } 
.Lux {   background-position: 0 0; } 
.Malphite {   background-position: 0 0; } 
.Malzahar {   background-position: 0 0; } 
.Maokai {   background-position: 0 0; } 
.MasterYi {   background-position: 0 0; } 
.MissFortune {   background-position: 0 0; } 
.Mordekaiser {   background-position: 0 0; } 
.Morgana {   background-position: 0 0; } 
.Nasus {   background-position: 0 0; } 
.Nautilus {   background-position: 0 0; } 
.Nidalee {   background-position: 0 0; } 
.Nocturne {   background-position: 0 0; } 
.Nunu {   background-position: 0 0; } 
.Olaf {   background-position: 0 0; } 
.Orianna {   background-position: 0 0; } 
.Pantheon {   background-position: 0 0; } 
.Poppy {   background-position: 0 0; } 
.Rammus {   background-position: 0 0; } 
.Renekton {   background-position: 0 0; } 
.Riven {   background-position: 0 0; } .
.Rumble {   background-position: 0 0; } 
.Ryze {   background-position: 0 0; } 
.Sejuani {   background-position: 0 0; } 
.Shaco {   background-position: 0 0; } 
.Shen {   background-position: 0 0; } 
.Shyvana {   background-position: 0 0; } 
.Singed {   background-position: 0 0; } 
.Sion {   background-position: 0 0; } 
.Sivir {   background-position: 0 0; } 
.Skarner {   background-position: 0 0; } 
.Sona {   background-position: 0 0; } 
.Soraka {   background-position: 0 0; } 
.Swain {   background-position: 0 0; } 
.Talon {   background-position: 0 0; } 
.Taric {   background-position: 0 0; } 
.Teemo {   background-position: 0 0; } 
.Tristana {   background-position: 0 0; } 
.Trundle {   background-position: 0 0; } 
.Tryndamere {   background-position: 0 0; } 
.TwistedFate {   background-position: 0 0; } 
.Twitch {   background-position: 0 0; } 
.Udyr {   background-position: 0 0; } 
.Urgot {   background-position: 0 0; } 
.Vayne {   background-position: 0 0; } 
.Veigar {   background-position: 0 0; } 
.Viktor {   background-position: 0 0; } 
.Vladimir {   background-position: 0 0; } 
.Volibear {   background-position: 0 0; } 
.Warwick {   background-position: 0 0; } 
.Xerath {   background-position: 0 0; } 
.XinZhao {   background-position: 0 0; } 
.Yorick {   background-position: 0 0; } 
.Ziggs {   background-position: 0 0; } 
.Zilean {   background-position: 0 0; } 