/* Ultimate Bravery Styles outsite of twitter bootstrap */

.hidden {
  display:none;
}

.media-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.media-heading {
  text-transform: capitalize;
}