/* Ultimate Bravery Styles outsite of twitter bootstrap */

.footer {
  margin-top:30px;
}

.hidden {
  display:none;
}

.media-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.media-heading {
  text-transform: capitalize;
}

.media .pull-left {
  margin-right: 10px;
}