@font-face {
  font-family: friz;
  src: url(fonts/friz.ttf);
}

body {
  font-family:arial;
  background:#222;
  color:#fff;
}

span {
  display:inline-block;
  margin-left:5px;
}

a, a:visited {color:#999; text-decoration:none;}
a:hover {text-decoration:underline;}

h4 {
  font-family:friz;
  margin:0 0 3px 0;
  border-bottom:1px solid #222;
  padding-bottom:3px;

}
.content {
  position:relative;
  
}
.title {
  position:absolute;
  top:0;
  left:370px;
  width:330px;
  margin:15px;
}
  .title h1 {
    font-family:friz;
    font-size:36px;
  }
 .title p {
   color:#ccc;
   font-size:14px;
   font-weight:lighter;
   font-family:'arial';
 }
 
 .controls {
   display:block;
 }
 p.copyright {
   color:#999;
   font-size:10px;
   font-style:italic;
   font-family:arial;
 }
.card {
  width:330px;
  top:0;
  position:absolute;
  display:none;
}
.card {
  background:#666;
  height:480px;
  border:15px solid #000;
  border-radius:10px;
/*  display:none;*/
}

.champion {background:#000; width:300px; height:250px; margin:15px auto 0;}
  .champion img {
    position:absolute;
    margin:25px;
    width:250px;
    height:auto;
    z-index:1;
  
  }

  .champion span {
    position:relative;
    z-index:2;
    margin-top:0px;
    margin-left:-5px;
    padding:3px 0 0 5px !important;
    width:300px;
    height:26px;
    font-family:friz;
    font-size:24px;
    color:#000;
    background:#fff;
    border:3px solid #000;
    border-radius:10px;
  }

.stats {
  position:relative;
  z-index:3;
  margin:-15px 0 0 7px;
  width:310px;
  background:#fff;
  border:3px solid #000;
  border-radius:15px;
}
  .stats div {
    display:inline-block;
    color:#000;
    vertical-align:middle;
  }
  .stats div.spells {margin:3px 0 0 10px;}
  .stats img {
    display:inline-block;
    margin:3px 3px;
    width:25px;
    height:25px;
  }
  
  .stats span {
    display:inline-block;
    height:25px;
    font-size:18px;
    margin:4px 0 0 0;
  }

div.ability {
    position:absolute;
    width:40px;
    height:100%;
    top:0;
    right:0;
    border-left:3px solid #000;

  }
  
    .ability .ability {
      color:#000;
      font-size:24px;
      font-weight:bold;
      margin:3px 0 0 8px;
    }

div.items {
  position:relative;
  width:310px;
  margin:2px auto;
  background:none;
  color:#fff;
}

  .items .stat {
    display:inline-block;
    width:100%;
    
  }
    .items .stat img {
      display:inline-block;
      width:25px;
      height:25px;
    }
    .stat span {
      vertical-align:top;
      padding:3px 0;
    }
    
div.boots {
  position:relative;
  width:310px;
  margin:5px auto;
}
  .boots img {
    position:relative;
    display:block;
    float:left;
    height:25px;
    width:auto;
  }
  
  .boots span {padding:3px 0;}


/*--- MOBLIE STYLES ---*/
.mobile {
  background:#ffffff;
}

.mobile .title {display:none;}

.mobile .card {
  top:0;
  left:0;
  border:none;
  border-radius:0px;
  margin:0;
}

.mobile .champion {background:#000; width:300px; height:250px; margin:15px auto 0;}
  .mobile .champion img {
    position:absolute;
    margin:25px;
    width:250px;
    height:auto;
    z-index:1;
  
  }

  .mobile .champion span {
    position:relative;
    z-index:2;
    margin-top:0px;
    margin-left:-5px;
    padding:2px 0 0 5px !important;
    width:300px;
    height:26px;
    font-family:friz;
    font-size:24px;
    color:#000;
    background:#fff;
    border:3px solid #000;
    border-radius:10px;
  }